body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  height: 100vh;
}

.chakra-input:focus-visible {
  box-shadow: 0 0 0 1px white !important;
}

.chakra-input[aria-invalid=true] {
  box-shadow: 0 0 0 1px #E53E3E !important;
}
